@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .diamond-glow {
    animation: border-pulse 3s infinite;
  }

  @keyframes border-pulse {
    0% {
      border-color: #d946ef;
      box-shadow: 0 0 10px rgba(217, 70, 239, 0.3);
    }
    50% {
      border-color: #8b5cf6;
      box-shadow: 0 0 25px rgba(139, 92, 246, 0.5);
    }
    100% {
      border-color: #d946ef;
      box-shadow: 0 0 10px rgba(217, 70, 239, 0.3);
    }
  }
}
